body {
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -ms-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    margin: 0; 
    padding: 0;      
}
.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c, .ui-li-static{
	background:#ffffff !important;
	text-shadow:none !important;
	-webkit-transform: translateZ(0) !important;
}
#footer-nav .ui-btn .ui-icon {
    width: 30px!important;
    height: 22px!important;
    margin-left: -15px !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
/*cambio el temano del texto para que se vea segun el active*/
#footer-nav .ui-btn-text{
    font-size: 0.8em;
}
/*cambio el active para que se vea segun diseno*/
#footer-nav .ui-btn-active{
    border:1px solid #000;
    background:#222;
    font-weight:bold;
    color:#fff;
    text-shadow:0 1px 1px #111;
    background-image:-webkit-gradient(linear,left top,left bottom,from( #202020 ),to( #2c2c2c ));
    background-image:-webkit-linear-gradient( #202020,#2c2c2c );
    background-image:-moz-linear-gradient( #202020,#2c2c2c );
    background-image:-ms-linear-gradient( #202020,#2c2c2c );
    background-image:-o-linear-gradient( #202020,#2c2c2c );
    background-image:linear-gradient( #202020,#2c2c2c )
}
/*icono footer tipo*/
.ui-icon-tipo{
    background: url('../img/btn_tipo_off.png') 50% 50% no-repeat;
}
/*icono footer cerca*/
.ui-icon-cerca{
    background: url('../img/btn_cerca_off.png') 50% 50% no-repeat;
}
/*icono footer comuna*/
.ui-icon-comuna{
    background: url('../img/btn_comuna_off.png') 50% 50% no-repeat;
}
/*centrado de la imagen del header*/
.center-wrapper {
    text-align: center;
}
.center-wrapper * {
    margin: 0 auto;
    margin-top: 9px;
    margin-bottom: 2px;
}
/*barra del header*/
.ui-header{
    border-bottom: 1px solid #e8b700;
    background: #ffdc1f !important; /* Old browsers */
    background: -moz-linear-gradient(top, #ffdc1f 0%, #ffd635 52%, #ffcf00 55%, #fec700 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc1f), color-stop(52%,#ffd635), color-stop(55%,#ffcf00), color-stop(100%,#fec700)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffdc1f 0%,#ffd635 52%,#ffcf00 55%,#fec700 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffdc1f 0%,#ffd635 52%,#ffcf00 55%,#fec700 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffdc1f 0%,#ffd635 52%,#ffcf00 55%,#fec700 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #ffdc1f 0%,#ffd635 52%,#ffcf00 55%,#fec700 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc1f', endColorstr='#fec700',GradientType=0 ) !important; /* IE6-9 */    
}
/*input de busqueda*/
.ui-input-search{
    border: 1px solid #c3a534;
}
/*Barra de fondo de la busqueda*/
.ui-bar-c {
    border-top: 1px solid #ffd433;
    border-bottom: 1px solid #ffd433;
    background: #ffdc1f !important; /* Old browsers */
    background: -moz-linear-gradient(top, #ffdc1f 0%, #ffd635 52%, #ffcf00 55%, #fec700 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc1f), color-stop(52%,#ffd635), color-stop(55%,#ffcf00), color-stop(100%,#fec700)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffdc1f 0%,#ffd635 52%,#ffcf00 55%,#fec700 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffdc1f 0%,#ffd635 52%,#ffcf00 55%,#fec700 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffdc1f 0%,#ffd635 52%,#ffcf00 55%,#fec700 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #ffdc1f 0%,#ffd635 52%,#ffcf00 55%,#fec700 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc1f', endColorstr='#fec700',GradientType=0 ) !important; /* IE6-9 */        
}

#recorridos li h3{
    white-space:normal;
    font-size: 0.7em !important;
}
/*transformo la descripciones de las listas en mayusculas*/
.ui-li-desc{
    text-transform:uppercase !important;
}
/*transformo a mayusculas las encabezados de los dividers*/
.ui-li-divider h3{
    text-transform:uppercase !important;
}

.ui-li-divider{
    background-color: #333 !important;
}
#map_canvas{
    z-index: 9000;
    height: 88% !important;
}
#button-info{
    background: none !important; 
    border: none !important;
    margin-top: 5px;
    margin-right: 5px !important;
}
#button-info .ui-btn-inner{
    border: none !important;
}
#button-info.ui-shadow{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
}
#about-content .center-wrapper{
    background:#505050;
    padding-top: 20px;
    padding-bottom: 20px;   
}
#about-content{
    padding: 0 !important;
    line-height: 1.5em;
}
#info-text{
    text-align:center; 
    margin:0 auto; 
    width:80%;
    padding-top: 25px;
    padding-bottom: 25px;
} 
.ui-footer .ui-btn-right {
    right: 43px !important;
    margin-top:3px;
}